<?xml version='1.0' encoding='utf-8'?>
<widget id="com.percentagelab.app" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>مختبر النسبة المئوية</name>
    <description>تطبيق تعليمي تفاعلي للنسب المئوية</description>
    <author email="zaen1993@github.com" href="https://github.com/Zaen1993">
        Zaen ALabden Moustafa
    </author>
    
    <content src="الرئيسية.html" />
    <access origin="*" />
    
    <preference name="orientation" value="any" />
    <preference name="Fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    
    <!-- الكاميرا فقط -->
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    
    <!-- الأذونات الأساسية -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- تم تعطيل الأيقونات مؤقتاً لحين إضافة الملفات 
    <platform name="android">
        <icon density="ldpi" src="resources/android/mipmap-ldpi/ic_launcher.png" />
        ...
    </platform>
    -->
    
    <!-- أيقونات iOS (اختياري) -->
    <platform name="ios">
        <!-- يمكنك تركها أو تعطيلها أيضاً -->
    </platform>
    
</widget>
